<div class="icon" fxLayout="row" fxLayoutGap="1.5px" >
  <button mat-icon-button class="reminder" >
    <img src="../../../assets/images/sharp-notification_important-24px.svg" matToolTip="Remind me" >
  </button>
  <button mat-icon-button class="styles" matToolTip="Add Collaborator">
    <img src="../../../assets/images/sharp-person_add-24px.svg" >
  </button>
  <button mat-icon-button class="styles" matToolTip="Change colour">
    <img src="../../../assets/images/sharp-color_lens-24px.svg" >
  </button>
  <button mat-icon-button class="styles" matToolTip="Add Image">
    <img src="../../../assets/images/sharp-add_photo_alternate-24px.svg" >
  </button>
  <button mat-icon-button class="styles" matToolTip="Archive">
    <img src="../../../assets/images/sharp-archive-24px.svg" >
  </button>
  <button mat-icon-button class="styles" matToolTip="More">
    <img src="../../../assets/images/sharp-more_vert-24px.svg" >
  </button>
  

</div>