<div class="container">
  <div fxLayout="row" fxLayoutGap="2%">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon class="sideNavMenu" matTooltip="Main menu"> menu </mat-icon>
    </button>
    <div fxLayout="row" fxLayoutGap="10px">
      <img class="keepIcon" src="../../../assets/images/icons8-google-keep.svg" alt="">
      <span class="fundoo" fxHide.xs>Fundoo </span>
    </div>
    <mat-form-field class="search" [style.font-size.px]="8" fxFlex="50" appearance="outline">
      <div fxLayout="row">
        <mat-icon>
          search
        </mat-icon> <input type="text" [(ngModel)]="search" (keyup)="lookFor()" (click)="startSearch()"
          autocomplete="off" matInput class="input" placeholder="Search">
      </div>
    </mat-form-field>
    <button mat-icon-button matTooltip="Refresh">
      <mat-icon class="refresh">refresh</mat-icon>
    </button>
    <button mat-icon-button matTooltip="List"><img class="list"
        src="../../../assets/images/baseline-list-24px.svg"></button>
    <button mat-icon-button matTooltip="Settings"><img class="settings"
        src="../../../assets//images/baseline-settings-20px.svg"></button>
    <button mat-icon-button matTooltip="Apps">
      <mat-icon class="apps">apps</mat-icon>
    </button>
    <!-- <button mat-icon-button [matMenuTriggerFor]="Menu" aria-label="Example icon-button with a menu"
      (click)="onFileUpload($event)">
      <img mat-card-avatar src={{image}}>
    </button> -->
    <div>
      <button mat-mini-fab
        [ngStyle]="{'background-image':'url('+image+')','background-size':'cover','margin-top':'22%'}"
        [matMenuTriggerFor]="Menu" color="primary" class="profilePic">
      </button>
    </div>
    <mat-menu #Menu="matMenu">
      <div fxLayout="row" fxLayoutGap="10px">
        <button mat-mini-fab (click)="$event.stopPropagation()"
          [ngStyle]="{'background-image':'url('+image+')','background-size':'cover'}" (click)="selectFile.click()">

          <input style="display:none" (click)="$event.stopPropagation()" class="image" type="file"
            (change)="onFileUpload($event)" #selectFile>
        </button>

        <div fxLayout="column" fxLayoutGap="5%">
          <div fxLayout="row" class="row" fxLayoutGap='3%'>
            <div>{{firstname}}</div>
            <div>{{lastname}}</div>
          </div>

          <div>
            <button mat-flat-button color="primary" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
  <mat-divider></mat-divider>

  <!------------------------ side Navigator  --------------------->

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="side">
      <mat-nav-list>
        <a mat-list-item (click)="openNotes()" fxLayout="row" fxLayoutGap="10px">
          <mat-icon> lightbulb_outline </mat-icon>
          <span class="notes">Notes</span>
        </a>
        <a mat-list-item class="link" (click)="openReminders()">
          <mat-icon>notifications_none</mat-icon>
          <span class="reminders">Reminders</span>
        </a>
        <div class="divider">
          <mat-divider></mat-divider>
        </div>

        <p class="labels">LABELS</p>
        <div *ngFor="let label of allLabels" class="alllabelsDisplay">
          <div class="iconLabel" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
            <mat-icon class="labelIcon"> label_outlined </mat-icon>
            <p class="">{{label.labelName}}</p>
          </div>
        </div>


        <a mat-list-item class="link" (click)="editLabels(allLabels)">
          <mat-icon class="icon"><img src="../../../assets/images/outline-edit-24px.svg"></mat-icon>
          <span class="editLabels">Edit labels</span>
        </a>

        <div class="divider">
          <mat-divider></mat-divider>
        </div>

        <a mat-list-item class="link" (click)="openArchive()">
          <mat-icon class="icon">
            <img src="../../../assets/images/outline-archive-24px.svg">
          </mat-icon>
          <span class="archives">Archives</span>
        </a>
        <a mat-list-item routerLinkActive="is-active" class="link" (click)="openTrash()">
          <mat-icon class="icon">
            <img src="../../../assets/images/outline-delete-24px.svg">
          </mat-icon>
          <span class="trash">Trash</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>