.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sideNavMenu{
    margin-top: 10px;
    
}
.mat-icon-button {
    margin-left: 20px;
    margin-top: 8px;
    font-size: 20px;
    border-radius: 10%;
    
}
.fundoo{
    margin-top:21px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;

}
.menu{
    margin-top:12px;
}
.search{
    margin-left:60px;
    margin-top:6px;
    
}

.input{
    font-size: 16px;
    margin-left: 5px;
}
.sidenav-container {
    flex: 1;
    margin: 0%
}
.accountName{
    margin-left:10px
}
.editLabels{
    margin-left: 25px
}
.notes{
    margin-left: 25px
}
.reminders{
    margin-left: 25px;
    margin-right: 35px

}
.labels{
    margin-top:1px;
    padding: 30px;
    font-size: 80%;
    font-family:'Times-New-Roman';
}
.divider{
    margin-top:1px;
}
.archives{
    margin-left: 25px
}
.trash {
    margin-left: 25px
}
.link{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
  }
  ::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color:transparent
  }
.is-active {
    background-color: red;
}