<div class="container">
  <div fxLayout="row" fxLayoutGap="2%">
    <button mat-icon-button>
      <mat-icon> menu </mat-icon>
    </button>
    <span class="fundoo" fxHide.xs>Fundoo </span>
    <mat-form-field class="search" fxFlex="50" appearance="outline">
      <div fxLayout="row">
      <mat-icon>
        search
      </mat-icon> <input type="text" autocomplete="off" matInput class="input" >
    </div></mat-form-field>
    <mat-icon class="refresh">refresh</mat-icon>    
    
  </div>


</div>