<div class="container">
  <div fxLayout="row" fxLayoutGap="2%">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon class="sideNavMenu" matTooltip="Main menu"> menu </mat-icon>
    </button>
    <div fxLayout="row" fxLayoutGap="10px">
      <img class="keepIcon" src="../../../assets/images/icons8-google-keep.svg" alt="">
      <span class="fundoo" fxHide.xs>Fundoo </span>
    </div>
    <mat-form-field class="search" [style.font-size.px]="8" fxFlex="50" appearance="outline">
      <div fxLayout="row">
        <mat-icon>
          search
        </mat-icon> <input type="text" [(ngModel)]="search" (keyup)="lookFor()" (click)="startSearch()" autocomplete="off" matInput class="input" placeholder="Search">
      </div>
    </mat-form-field>
    <button mat-icon-button matTooltip="Refresh"> 
      <mat-icon class="refresh">refresh</mat-icon>
    </button>
    <button mat-icon-button matTooltip="List"><img class="list" src="../../../assets/images/baseline-list-24px.svg"></button>
    <button mat-icon-button matTooltip="Settings"><img class="settings" src="../../../assets//images/baseline-settings-20px.svg"></button>
    <button mat-icon-button matTooltip="Apps">
      <mat-icon class="apps">apps</mat-icon>
    </button>
    <button mat-mini-fab [matMenuTriggerFor]="Menu" color="primary" class="menu">{{firstLetter}}</button>
    <mat-menu #Menu="matMenu">
      <button mat-mini-fab color="primary">{{firstLetter}}</button>
      <span class="accountName">{{firstname}} {{lastname}}</span>
    </mat-menu>
  </div>
  <mat-divider></mat-divider>

  <!------------------------ side Navigator  --------------------->

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="side" >
      <mat-nav-list >
        <a mat-list-item routerLinkActive="is-active" (click)="openNotes()" fxLayout="row" fxLayoutGap="10px">
          <mat-icon > lightbulb_outline </mat-icon>
          <span  class="notes">Notes</span>
        </a>
        <a mat-list-item routerLinkActive="is-active" class="link" (click)="openReminders()">
          <mat-icon>notifications_none</mat-icon>
          <span class="reminders">Reminders</span>
        </a>
        <div class="divider"><mat-divider></mat-divider></div>
        
        <p class="labels">LABELS</p>

        <a mat-list-item routerLinkActive="is-active" class="link" (click)="editLabels()">
          <mat-icon  class="icon"><img src="../../../assets/images/outline-edit-24px.svg" ></mat-icon>
          <span class="editLabels">Edit labels</span>
        </a>

        <div class="divider">
            <mat-divider></mat-divider>
          </div>

        <a mat-list-item routerLinkActive="is-active" class="link" (click)="openArchive()">
          <mat-icon class="icon">
              <img src="../../../assets/images/outline-archive-24px.svg">
          </mat-icon>
          <span class="archives">Archives</span>
        </a>
        <a mat-list-item routerLinkActive="is-active" class="link" (click)="openTrash()">
          <mat-icon class="icon">
            <img src="../../../assets/images/outline-delete-24px.svg">
          </mat-icon>
          <span class="trash">Trash</span>
        </a>  

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content> 
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>