.title{
    
    margin-bottom:25px;
    letter-spacing: 0.05em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    opacity:0.9;
    
}
.takenote{
    
    letter-spacing: 0.05em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    opacity:0.9;
}
::placeholder{
    opacity: .9;
}