<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%">
    <mat-card-title> RESET PASSWORD </mat-card-title>
    <form [formGroup]="myForm" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <mat-form-field class="password" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="New Password" formControlName="password" required>
        <mat-error *ngIf="myForm.hasError('required','password')">Please enter your password here </mat-error>
        <mat-icon matSuffix>remove_red_eye</mat-icon>
        <mat-hint>Min 8 characters </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Re-enter your password" formControlName="confirmPassword" required>
        <mat-error *ngIf="myForm.hasError('required',confirmPassword)">
          Passwords do not match
        </mat-error>
        <mat-icon matSuffix>remove_red_eye</mat-icon> 
      </mat-form-field>
    </form>
    <button  fxLayoutAlign="center center" mat-raised-button color="primary" (click)="submit()">
        Confirm
      </button>
  </mat-card>
</div>